

body {
    margin: 0px;
    width: 100vh;
    font-size: 0px;
    color: rgb(215, 236, 195);
    font-family: monospace;
}

div {
    font-size: 16px;
    padding: 20px;
    background-color: rgb(90, 114, 67);
    
}

p {
    float: left;
    font-size: 16px;
}

select {
    
    background-color: rgb(60, 71, 49);
    color: rgb(215, 236, 195);
}

.reward {
    display: none;
}

audio {
    background-color: rgb(60, 71, 49);
    
}